.container {
    width:500px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .calculator {
    max-width: 90%;
    margin: auto;
    border-radius: 4px;
    background-color: #283747;
  }
  
  .output {
    height: 80px;
  }
  
  .keys {
    gap: 5px;
    padding: 3px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
  .keys button:first-child {
    color: #ffffff;
    grid-column-end: 3;
    grid-column-start: 1;
    background-color: #D14D2A;
  }
  
  .keys button:nth-child(15) {
    color: #ffffff;
    grid-row: 4 / 6;
    grid-column: 4 / 4;
    background-color: green;
  }
  
  .keys button:nth-child(16) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  
  .input,
  .result {
    color: #fff;
    height: 40px;
    display: block;
    font-size: 40px;
    text-align: right;
    padding-right: 10px;
  }
  
  button {
    border: none;
    font-size: 25px;
    min-width: 70px;
    min-height: 55px;
    border-radius: 4px;
  }